<!DOCTYPE html>
<html>

    <head>
        <title><%= APP_NAME %>: 4xx Page</title>
        <%- include('../partials/header.ejs'); %>
    </head>

    <body>
        <%- include('../partials/app_banner.ejs'); %>
        <div role="presentation" id="app-container">

        <%- include('../partials/app_message.ejs'); %>
        <%- include('../partials/navbar.ejs'); %>

        <div id="main_div">

            <section>

                <p><%= message %></p>

            </section>

        </div>

        <%- include('../partials/footer.ejs'); %>

        </div>
    </body>

</html>
