<!DOCTYPE html>
<html>

    <head>
        <title><%= APP_NAME %>: 5xx Page</title>
        <%- include('../partials/header.ejs'); %>
    </head>

    <body>
        <%- include('../partials/app_banner.ejs'); %>
        <%- include('../partials/navbar.ejs'); %>

        <div id="main_div">

            <div style="margin: 5% 20% 10% 20%">

                <h3>
                    <%= response_JSON.status %>
                </h3>
                <br />
                <p>
                    <%= response_JSON.message %>
                </p>

            </div>

        </div>


        <%- include('../partials/footer.ejs'); %>

    </body>

</html>
