<!DOCTYPE html>
<html>

    <head>
        <title><%= APP_NAME %>: Account Page</title>
        <%- include('../partials/header.ejs'); %>
        <style>
            div#main_div {
                align-items: start;
            }
        </style>

    </head>

    <body>
        <%- include('../partials/app_banner.ejs'); %>

        <div role="presentation" id="app-container">

        <%- include('../partials/app_message.ejs'); %>
        <%- include('../partials/navbar.ejs'); %>

        <div id="main_div" class="narrow">

                <div class="account_section">

                    <h3 class="account_header">Account Info</h3>

                    <p>
                        Username: <%= account_info.username %>
                        <br><br>
                        Email Address: <%= account_info.email %>
                    </p>

                    <form id="accountSettingsForm" method="POST">

                        <% if (account_info.cardsAreByDefaultPrivate) { %>
                            <input type="checkbox" class="w3-check" name="cardsAreByDefaultPrivate" checked>
                        <% } else { %>
                            <input type="checkbox" class="w3-check" name="cardsAreByDefaultPrivate">
                        <% } %>

                        <label class="w3-label" for="cardsAreByDefaultPrivate">If checked, your cards will be private (except the ones that you explicitly set as public)</label>

                        <br><br>
                        <input type="submit" class="w3-btn w3-round-xxlarge w3-left w3-blue" value="Save Changes">
                    </form>

                </div>

                <div class="account_section">

                    <h3 class="account_header">Send an email to the Developer</h3>

                    <p>
                        I would love to hear your suggestions, feedback and criticism.
                        <br><br>
                        <a href="mailto:study.buddy@mail.c13u.com">
                            <i class="fa fa-envelope fa-fw" aria-hidden="true"></i> study.buddy@mail.c13u.com
                        </a>
                    </p>

                </div>

                <div class="account_section">

                    <form method="GET" action="<%= DOWNLOAD_USER_DATA %>">

                        <h3 class="account_header">
                            <i class="fa fa-download fa-fw" aria-hidden="true"></i> Download your cards
                        </h3>

                        <p>
                            Download a file containing all of the cards that you own.
                            <br>
                            <br>
                            <input type="submit" class="w3-btn w3-round-xxlarge w3-left w3-green" value="Download My Cards">
                        </p>

                    </form>

                </div>

                <div class="account_section">

                    <form method="GET" action="<%= DELETE_ACCOUNT %>">
                        <h3 class="account_header">
                            <i class="fa fa-trash-o fa-fw" aria-hidden="true"></i> Delete account
                        </h3>

                        <p>
                            Careful now. Once you delete your account, there is no going back.
                            Please be sure. You might want to download your data first.
                            <br>
                            <br>
                            <input type="submit" class="w3-btn w3-round-xxlarge w3-left w3-red" value="Delete Account">
                        </p>

                    </form>

                </div>

        </div>

        </div>

    </body>
</html>
