<!DOCTYPE html>
<html>

    <head>
        <title><%= APP_NAME %>: Account Page</title>
        <%- include('../partials/header.ejs'); %>
        <%- include('../partials/syntax_highlighting_and_latex.ejs'); %>
        <script type="text/javascript" src="/src/CardsManager.bundle.min.js"></script>
        <script type="text/javascript" src="/src/CardTemplateUtilities.bundle.min.js"></script>

        <style>

            #account_details {
                margin: 1% 15% 1% 15%;
                padding: 1% 5% 1% 5%;
            }

            .account_header {
                border-bottom: 1px #e1e4e8 solid;
            }

            .account_section {
                margin: 2% 0%;
                padding: 3% 0%;
            }

            #card_container {
                display: none;
            }

        </style>

    </head>

    <body>
        <%- include('../partials/app_banner.ejs'); %>
        <%- include('../partials/navbar.ejs'); %>

        <div id="main_div">

            <div id="account_details">

                <div class="account_section">

                    <h3 class="account_header">Account Info</h3>

                    <p>
                        Username: <%= account_info.username %>
                        <br><br>
                        Email Address: <%= account_info.email %>
                        <br><br>
                        <%= APP_NAME %> Birthday: <%= account_info.user_reg_date %>
                    </p>

                    <form id="accountSettingsForm" method="POST">

                        <% if (account_info.cardsAreByDefaultPrivate) { %>
                            <input type="checkbox" class="w3-check" name="cardsAreByDefaultPrivate" checked>
                        <% } else { %>
                            <input type="checkbox" class="w3-check" name="cardsAreByDefaultPrivate">
                        <% } %>

                        <label class="w3-label" for="cardsAreByDefaultPrivate">If checked, your cards will be private (except the ones that you explicitly set as public)</label>

                        <br /><br />
                        <label class="w3-label" for="dailyTarget">Minimum number of cards to review per day</label>
                        <input type="number" name="dailyTarget" value="<%= account_info.dailyTarget %>">


                        <input type="text" style="display:none" name="userIDInApp" value="<%= account_info.userIDInApp %>">

                        <br><br>
                        <input type="submit" class="w3-btn w3-round-xxlarge w3-left w3-blue" value="Save Changes" onclick="return updateAccountSettings();">
                    </form>

                </div>

                <div class="account_section">

                    <h3 class="account_header">Restore/Delete Cards from Trash</h3>

                    <p>
                        The trash only holds a card for 30 days, after which the
                        card will be permanently deleted. Use this option to either
                        delete cards permanently, or restore them to your active cards.

                        <br><br>

                        <button id="trash_button" class="w3-btn w3-round-xxlarge w3-left w3-blue" onClick="AccountPage.showCardsFromTrash();">
                            <b id="trash_button_text">
                                <i class="fa fa-trash-o fa-fw" aria-hidden="true"></i> View Trashed Cards
                            </b>
                        </button>

                        <br>
                    </p>

                    <div>

                        <%- include('../partials/trashed_card_template.ejs'); %>

                    </div>

                </div>

                <div class="account_section">

                    <h3 class="account_header">Send an email to the Developer</h3>

                    <p>
                        I would love to hear your suggestions, feedback and criticism.
                        <br><br>
                        <a href="mailto:study.buddy@mail.c13u.com">
                            <i class="fa fa-envelope fa-fw" aria-hidden="true"></i> study.buddy@mail.c13u.com
                        </a>
                    </p>

                </div>

                <div class="account_section">

                    <h3 class="account_header">Download your cards</h3>

                    <p>
                        Download all of the cards you own.
                        <br>
                        <br>
                        <button class="w3-btn w3-round-xxlarge w3-left w3-green" onClick="AccountPage.downloadUserData();">
                            <b>
                                <i class="fa fa-download fa-fw" aria-hidden="true"></i> Download My Cards
                            </b>
                        </button>

                    </p>

                </div>

                <div class="account_section">

                    <h3 class="account_header">Delete account</h3>

                    <p>
                        Careful now. Once you delete your account, there is no going back.
                        Please be sure. You might want to download your data first.
                        <br>
                        <br>
                        <button class="w3-btn w3-round-xxlarge w3-left w3-red" id="delete_account_button" onClick="AccountPage.confirmDeletion();">
                            <b>
                                <i class="fa fa-trash-o fa-fw" aria-hidden="true"></i> Delete Account
                            </b>
                        </button>

                    </p>

                </div>

            </div>

        </div>


        <%- include('../partials/footer.ejs'); %>

    </body>

    <script type="text/javascript" src="/src/AccountPage.bundle.min.js"  onload="AccountPage.initializeAccountPage();"></script>

</html>
