<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/header.ejs'); %>
        <title><%= APP_NAME %>: Browse/Search</title>
        <%- include('../partials/syntax_highlighting_and_latex.ejs'); %>
    </head>

    <body>
        <%- include('../partials/app_banner.ejs'); %>

        <div role="presentation" id="app-container">

        <%- include('../partials/app_message.ejs'); %>
        <%- include('../partials/navbar.ejs'); %>

        <div id="main_div">
            <browse-page>
            </browse-page>
        </div>
        </div>

    </body>
    <script type="module" src="/src/browse-page.js"></script>
</html>
