<!DOCTYPE html>
<html>

    <head>
        <title><%= APP_NAME %>: Home</title>
        <%- include('../partials/header.ejs'); %>
        <%- include('../partials/syntax_highlighting_and_latex.ejs'); %>
    </head>

    <body>
        <%- include('../partials/app_banner.ejs'); %>
        <div role="presentation" id="app-container">
        <%- include('../partials/navbar.ejs'); %>

        <div id="main_div">
            <home-page></home-page>
        </div>

        <script type="module" src="/src/home-page.js"></script>

    </body>

</html>
