<!DOCTYPE html>
<html>

    <head>
        <title><%= APP_NAME %>: Reset Password</title>
        <%- include('../partials/header.ejs'); %>
    </head>

    <body onload="AppUtilities.processParams();">
        <%- include('../partials/app_banner.ejs'); %>

        <div role="presentation" id="app-container">

        <%- include('../partials/navbar.ejs'); %>

        <div id="main_div">

            <div class="w3-padding-large w3-center" style="margin: 5% 25% 25% 25%" id="form_password_request" method="POST">

                <label for="email"> Type the email address associated with your account: </label>
                <input class="w3-input" type="email" name="email" id="email_address" required/>

                <br />
                <br />

                <button class="w3-button w3-center w3-green" id="reset_password_req_submit" type="submit" onclick="return PasswordResetRequestPage.passwordResetRequest();">
                    Request Password Reset
                </button>

            </div>

        </div>


        <%- include('../partials/footer.ejs'); %>

        </div>

        <script type="text/javascript" src="/src/PasswordResetRequestPage.bundle.min.js"></script>

    </body>

</html>
