<nav>
<template shadowrootmode="closed">
    <style>
        ul#topnavitems {
          list-style-type: none;
          margin: 0;
          padding: 0;
          overflow: hidden;
          display: flex;
          justify-content: space-between;

          li {
            display: inline;
            font-family: "Lobster";
            font-size: 24px;
            text-align: center;
            text-decoration: none;

            a:hover:not(.active) {
              background-color: #121;
            }
          }

          > span[role="presentation"] {
            display: flex;
            gap: 10px;
          }
        }

        .link_button {
          text-decoration: none;
          color: black;
          border-bottom: thin black solid;

          &:hover {
            cursor: pointer;
            background-color: inherit !important;
            border-bottom: #2196F3 thick solid;
          }
        }
    </style>
    <ul id="topnavitems">
        <span role="presentation">
            <li>
                <a href="/" class="link_button"><strong>
                        <%= APP_NAME %>
                    </strong></a>
            </li>
            <li>
                <a href="<%= HOME %>" class="link_button">Home</a>
            </li>

            <li>
                <a href="<%= BROWSE %>" class="link_button">Browse/Search</a>
            </li>

            <li>
                <a href="<%= WIKI %>" class="link_button">Wiki</a>
            </li>
        </span>

        <% if (LOGGED_IN) { %>
        <span role="presentation">

            <li class="right">
                <a href="<%= LOGOUT %>" class="link_button">Log Out</a>
            </li>

            <li class="right">
                <a id="account_button" href="<%= ACCOUNT %>" class="link_button">
                    Your Account
                </a>
            </li>
        </span>

        <% } %>

    </ul>

    </div>
</template>
</nav>
